*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}

header{
    background-color: #0084fd;
    font-size: 2rem;
    color: white;
}

button{
    border: none;
    padding: .8rem 3rem;
    border-radius: 1.5rem;
    background-color: #0084fd;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

footer{
    background-color: #333333;
    color: white;
}

footer p{
    text-align: center;
    margin-bottom: 1rem;
}

footer a{
    color: #9792e4;
}

header nav ul li{
    margin: 1rem;
}

section.jumbo{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

div.box-big img{
    width: 40%;
    position: absolute;
    right: 50px;
    bottom: 0;
}

div.box .fa-solid{
    font-size: 5rem;
    color: #0084fd;
    text-align: center;
    margin-top: 2rem;
}

div.box-strategic.left p{
    width: 70%;
}

div.box-strategic.right{
    background-color: white;
    width: 40%;
    color: black;
    text-align: center;
}

div.box-strategic img{
    align-self: center;
}

div.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 2rem;
    background-color: #9792e4;
    align-self: center;
    margin: 2rem 0;
}

div.box-strategic.right{
    font-style: italic;
    flex-direction: column;
}

div.box-small{
    flex-direction: column;
    text-align: center;
}

div.box-small p{
    line-height: 2rem;
    padding: 1rem;
}

section.jumbo button{
    margin-bottom: 2rem;
}

section.benefits h2{
    font-size: 2rem;
    margin: 2rem;
    color: white;
    text-align: center;
}

section.testimonials p{
    margin: 3rem 0;
}

section.testimonials h2{
    font-size: 2.5rem;
    color: #9792e4;
}

div.about-us h2{
    font-size: 3rem;
    color: #9792e4;
    margin: 2rem 0;
}

div.about-us p{
    line-height: 2rem;
}

div.pic img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 2rem;
}

div.pic h2{
    color: #9792e4;
    width: 60%;
    margin-left: 2rem;
}

div.pic button{
    background-color: #9792e4;
    padding: .5rem 1rem;
    margin: 2rem;
}

div.card img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 1rem;
}

div.card{
    position: relative;
}

div.card p{
    color: white;
    font-size: 1.3rem;
    margin: 2rem;
}

section.benefits div.row{
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

section.benefits div.box{
    background-color: white;
}

section.benefits div.box h2{
    font-size: 4rem;
    text-align: left;
    color: #9792e4;
}

section.benefits div.box p{
    text-align: left;
    color: #9792e4;
    margin: 2rem;
}

section.benefits div.box p.description{
    text-align: left;
    color: grey;
    margin: 2rem;
}

section.benefits .box button{
    margin: 0 2rem 2rem;
    background-color: #9792e4;
}

div.box-big p{
    margin: 2rem;
    width: 40%;
    line-height: 2rem;
}

div.box-big button{
    margin-left: 2rem;
}

div.get-started-container{
    text-align: center;
}

div.get-started-container p{
    margin: 2rem 0;
}

div.get-started-container h2{
    font-size: 1rem;
    color: lightgrey;
    margin-top: 2rem;
}

div.get-started-container button{
    padding: 2rem 6rem;
    border-radius: 3rem;
    color: #9792e4;
    background-color: white;
}

div.get-started-container a{
    color: white;
}


/* RIMUOVERE ALTEZZE FISSE */

.flex{
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex-row{
    flex-direction: row;
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.margin{
    margin: 1rem auto;
}

.box{
    width: 100%;
    background-color: #b5ddff;
    border-radius: 1.3rem;
    position: relative;
}

.blue-text{
    color: #0084fd;
    font-weight: bold;
    font-size: 1.5rem;
}

.purple-background{
    background-color: #9792e4;
}

.box-strategic{
    width: 50%;
    border-radius: 3rem;
    color: white;
}

.box-strategic img{
    width: 70%;
}

.box-strategic h2{
    margin: 3rem 0;
    font-size: 2rem;
}

.testimonials{
    text-align: center;
}

.card{
    border-radius: 2rem;
    background-color: #9792e4;
    text-align: left;
}

.name{
    font-weight: bold;
    position: absolute;
    bottom: 2rem;
    left: 15rem;
}

.about-us{
    width: 70%;
}

.first-p{
    margin: 2rem 0;
}

.pic{
    width: 30%;
}

.simple{
    font-size: 3rem;
    color: white;
    font-weight: bold;
}

.free{
    font-size: 5rem;
    font-weight: bold;
    color: #fdc15f;
}

.beta-foot{
    color: white;
}

/* Tablet */

@media screen and (min-width: 768px) {
    .flex{
        flex-direction: row;
    }

    section.jumbo div.box{
        width: calc(100% / 3);
        margin: .5rem;
    }

    section.jumbo div.box-big{
        width: calc((100% / 3) * 2);
    }

    .box-strategic{
        width: 100%;
    }

    section.strategic-planning div.container{
        flex-direction: column;
    }

    section.testimonials{
        flex-direction: column;
    }

    section.benefits div.box{
        width: calc((100% / 2) - 1.5rem);
        margin-bottom: 2rem;
    }
}

/* Desktop */

@media screen and (min-width: 1160px) {
    .box-strategic{
        width: 60%;
    }

    section.strategic-planning div.container{
        flex-direction: row;
        width: 50%;
    }

    div.box-strategic.right{
        margin-top: 20rem;
    }

    section.benefits div.box{
        width: calc((100% / 3) - 1.5rem);
        margin-bottom: 2rem;
    }
}