*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}

header{
    background-color: #0084fd;
    font-size: 2rem;
    color: white;
}

header nav ul li{
    margin: 1rem;
}

.flex{
    display: flex;
    flex-direction: row;
}

.space-between{
    justify-content: space-between;
}

.flex-column{
    flex-direction: column;
}

.container{
    margin: 0 auto;
}

.box{
    width: 300px;
    height: 200px;
    background-color: #b5ddff;
    margin: 2rem;
    border-radius: 10%;
}

.strategic-planning{
    background-color: #9792e4;
}

.box-strategic{
    width: 50%;
    height: 400px;
    background-color: red;
    border: 2px dotted black;
    margin: 1rem auto;
    border-radius: 10%;
}